@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  @variants hover, focus {
    .transition-fast {
      transition: 0.2s ease-out;
    }
    .transition {
      transition: 0.3s ease-out;
    }
    .transition-slow {
      transition: 0.6s ease-out;
    }

    .ease-out {
      transition-timing-function: cubic-bezier(0.28, 0.67, 0.04, 1);
    }

    .scroll-container {
      -webkit-overflow-scrolling: touch;
    }
  }
}
